.vs/
.vscode/

Win32/
x64/

AntiShiftDeleteExt/Win32/
AntiShiftDeleteExt/x64/
AntiShiftDeleteExt/AntiShiftDeleteExt_p.c
AntiShiftDeleteExt/AntiShiftDeleteExt_i.c
AntiShiftDeleteExt/AntiShiftDeleteExt_i.h